body{
    background-image: url('../img/guidestory.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh; /* 確保全屏高度 */
    display: flex;
}
.black-bottom{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;  /* 絕對定位 */
    bottom: 0;  /* 固定在最底 */
    padding-bottom: 2%;
}
.black-bottom p{
    color: #E6DA01;
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    text-shadow: 
    1px 1px 0 black,   /* 右下 */
    -1px 1px 0 black,  /* 左下 */
    1px -1px 0 black,  /* 右上 */
    -1px -1px 0 black; /* 左上 */
    margin-top: 2.5%;
    margin-bottom: 0;
    line-height: 1.5;
}
.p-b-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-button{
    width: auto;
    height: 32px;
    border-radius:10px;
    background-color: #602200; 
    border: none; 
    color: white; /* 按鈕文字顏色 */
    font-family: 'Noto Serif TC', serif; 
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center; /* 讓文字水平置中 */
    align-items: center; /* 讓文字垂直置中 */

    margin-left: 80%;

}

.custom-button:hover {
    background-color: #603e35;
}