body {
    background-image: url('../img/bgimg.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh; /* 確保全屏高度 */
    display: flex; 
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    overflow: hidden; /* 防止滾動條 */
}

/* 標題+TAP TO START */
.content {
    position: relative; /* 為內部元素提供定位參考 */
    height: auto; /* 自動適配內容高度 */    
}

/* 標題 */
h1 {
    font-family: 'IM Fell English', serif;
    font-size: 80px;
    font-weight: 100;
    color: #E6DA01;
    text-shadow: 
        1px 1px 0 black,   /* 右下 */
        -1px 1px 0 black,  /* 左下 */
        1px -1px 0 black,  /* 右上 */
        -1px -1px 0 black; /* 左上 */
    margin: 0;
    padding: 0;

    display: inline-block; /* 讓 h1 保持在 inline 位置 */
    position: relative;
}

/* 按鈕樣式 */
.login-out-group{
    display: flex;
    justify-content: center;  /* Centers the buttons horizontally */
    gap: 20px; 
}
.start-button {
    bottom: -30%; /* h1 的底部下移 */
    padding: 0.5em 1em;
    position: absolute;
    font-size: 16px;
    font-family: 'IM Fell English', serif;
    background-color: #602200;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    right: 0; /* 靠 h1 右側 */
}

.start-button:hover {
    background-color: #603e35;
}

/*導覽列*/
.sidebar {
    height: 100vh;
    width: 13%;
    background-color:rgba(48, 20, 0, 0.9); /*原本十六進制顏色的 RGB值，透明度90%*/
    color: white;
    position: fixed;
    top: 0;
    left:0;
    padding-top: 5%;
    padding-left: 20px;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    display: none;
}
.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    padding: 15px;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    text-decoration: underline;
}

.menu-icon{
    font-size: 0.9rem;
}
