body {
    background-size: cover;
    margin: 0;
    height: auto;
}

/* 標題+TAP TO START */
.content {
    position: relative; /* 為內部元素提供定位參考 */
    height: auto; /* 自動適配內容高度 */    
}

/* 標題 */
h1 {
    font-family: 'IM Fell English', serif;
    font-size: 80px;
    font-weight: 100;
    color: #E6DA01;
    text-shadow: 
        1px 1px 0 black,   /* 右下 */
        1px 1px 10px rgba(0, 0, 0, 0.7),   /* 右下 */
        -1px 1px 0 black,  /* 左下 */
        1px -1px 0 black,  /* 右上 */
        -1px -1px 0 black; /* 左上 */
    margin: 0;
    padding: 0;

    position: relative;
}

/* 按鈕樣式 
.login-out-group{
    display: flex;
    justify-content: center;  
    gap: 20px; 
}*/

.start-button {
    bottom: -30%; /* h1 的底部下移 */
    padding: 0.3em 1em;
    font-size: 16px;
    color: #EDE9BA;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(62, 62, 62, 0.7);
    background-color: rgba(34, 70, 39, 0.85);
    position: absolute;
    right: 0; /* 靠 h1 右側 */
}

.start-button:hover {
    background-color: rgba(34, 70, 39, 0.75);
}
/*--------首頁 section------*/
.scroll-down-indicator {
    position: absolute;
    transform: translateX(-50%);
    bottom: 7%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.631);
    animation: bounce 2s infinite;
    font-size: 29px;
    z-index: 2;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 50px 100px 50px;
    box-sizing: border-box;
    background-color: #224631;
}
.hero {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #224631 100%),
                      url('../img/bgimg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.hero::after { /*hero後偷加上的div*/
    content: ''; /*沒加 不會出現*/
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(237, 233, 186, 0) 0%, #224631 100%); /*再加一層漸層 到bg最bottom*/
    z-index: 1;
}

.intro {
    padding-top: 5%;
    background-color: #224631; 
    color: #EDE9BA;
    font-family: 'Noto Serif TC', serif;
}
.intro-card {
    background-color: #EDE9BA;
    color: #602200;
    width: 71%;
    border-radius: 15px;
    padding: 2% 0 0 0;
}

.intro-card-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    
}
.intro-card-half {
    width: 47%;
    text-align: center;
    position: relative;
    padding-top: 4%;
    padding-bottom: 2%;
}
.intro-card-half p{
    font-size: 16px;
}
.intro-card-bubble {
    background-color: #682f11;
    color: #EDE9BA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.4;

    position: absolute;
    top: -65px; /* 突出 intro-card 以外 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* 確保 bubble 在上層 */
}
/* 中間分隔線 */
.intro-card-row::before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 1px;
    background-color: #602200;
    transform: translateX(-50%);
}
/*輪播區*/
.carousel {
    display: flex;
    justify-content: center;
    gap: 3%;
    width: 90%;
    margin-top: 0;
}
.carousel-card {
    width: 30%;
}
.carousel-header {
    display: flex;
    text-align: left;
}

.carousel-header h2 {
    font-weight:bolder;
    font-size: 36px;
    margin: 0;
    color: #986a4f;;
    
}
/*.c-bubble{
    background-color: #602200;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}*/
.carousel-title {
    font-size: 18px;
    margin-top: 8%;
    margin-left: 2%;
    font-weight: 500;
    color: #EDE9BA;
    margin-bottom: 0;
}
.carousel-light {
    padding: 6%;
    border-radius: 5px;
    font-size: 16px;
    height: 53%;
    text-align: start ;
    background-color: #EDE9BA;
    color: #602200;
    position: relative;
}
.carousel-light ul{
    padding-left: 9%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.carousel-light i {
    position: absolute;
    bottom: 6%;
    right: 4%;
    font-size: 20px; /* 可調整 icon 大小 */
    color: #682f11;   /* 可依你主色調調整 */
  }
/*-----------導覽列------------*/
.sidebar {
    height: 100vh;
    width: 13%;
    background-color:rgba(48, 20, 0, 0.9); /*原本十六進制顏色的 RGB值，透明度90%*/
    color: white;
    position: fixed;
    top: 0;
    left:0;
    padding-top: 5%;
    padding-left: 20px;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 16px;
    padding: 15px;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    text-decoration: underline;
}

.toggle-btn {
    position: fixed; /* 固定位置，不受 .sidebar 影響 */
    top: 4%;
    left: 25px;
    background-color: transparent;
    color: white;
    border: none; /* 移除邊框 */
    outline: none; /* 移除外框 */
    cursor: pointer;
    z-index: 1000; /* 確保位於導覽列之上 */
}
.menu-icon{
    font-size: 0.9rem;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 垂直滾動 */
    box-sizing: border-box;
}