body {
    background-image: url('img/底圖.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh; /* 確保全屏高度 */
    overflow: hidden;
}

/*導覽列*/
.sidebar {
    height: 100vh;
    width: 13%;
    background-color:rgba(48, 20, 0, 0.9); /*原本十六進制顏色的 RGB值，透明度90%*/
    color: white;
    position: fixed;
    top: 0;
    left:0;
    padding-top: 5%;
    padding-left: 20px;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
.sidebar.active {
    transform: translateX(0);
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    font-size: 17px;
    padding: 15px;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    text-decoration: underline;
}

.toggle-btn {
    position: fixed; /* 固定位置，不受 .sidebar 影響 */
    top: 4%;
    left: 25px;
    background-color: transparent;
    color: white;
    border: none; /* 移除邊框 */
    outline: none; /* 移除外框 */
    cursor: pointer;
    z-index: 1000; /* 確保位於導覽列之上 */
}
.menu-icon{ /*navbar三條線按鈕*/
    font-size: 0.9rem;
}

/*每頁上方的title*/
.page-title{
    font-family:'Noto Serif TC', serif;
    color: #E6DA01;
    font-size: 25px;
    text-shadow: 
    0.8px 0.8px 0 black,   /* 右下 */
    -0.8px 0.8px 0 black,  /* 左下 */
    0.8px -0.8px 0 black,  /* 右上 */
    -0.8px -0.8px 0 black; /* 左上 */
}

/*每頁咖啡色長方形button*/
.custom-button{
    width: 85px;
    height: 36px;
    border-radius:10px;
    background-color: #602200; 
    border: none; 
    color: white; /* 按鈕文字顏色 */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Noto Serif TC', serif; /* 字體樣式 */
}

.custom-button p {
    margin: 0; /* 移除默認外邊距 */
    padding: 0; /* 移除默認內邊距 */
    font-size: 15px; /* 調整文字大小 */
}

/*相談的css (conversation)*/
.conversation-wrapper {
    display: flex;
    flex-direction: column; /* 讓內部元素（h2 和 .container）垂直排列 */
    align-items: center; /* 讓子元素水平居中 */
}
.conversation-wrapper .container{
    /*background-color: #EDE9BA;
    border-radius: 10px;*/
    width: 60%;
    height: auto;
    position: relative;/*內部的absolute子元素就會相對於 .container 定位*/
    margin-bottom: 20px;
}
.jump {
    width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #EDE9BA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.jump h4 {
    text-align: center;
    margin-bottom: 15px; /* 與下方內容保持間距 */
}

.jump-wrapper {
    display: flex; /* 水平排列內容 */
    gap: 10px; /* 圖片與文字間距 */
    align-items: center; /* 垂直方向居中 */
}

.jump-wrapper img {
    flex-shrink: 0; /* 防止圖片縮小 */
    border-radius: 5px; /* 圓角效果 */
}

.jump-wrapper p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5; /* 提高段落的可讀性 */
    text-align: left;
}


/*end*/